
.hollywood {
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.600);
    position: relative;
  }
  
  .hollywood:before {
    content: '';
    position: absolute;
    background: url('../../assets/citrus-bg.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }


.hollywood {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hollywood .hollywood-content {
    display: block;
    position: absolute;
    bottom: 10%;
    padding: 1rem;
    width: 80%;

}


.hollywood h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
}

.hollywood span {
    color: #edaa09;
    font-size: 5rem;
    font-family: 'Cookie', cursive;
    letter-spacing: 2px;
    margin-top: -3rem;
}

.hollywood  p {
    color: white;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .hollywood .hollywood-content h1 {
        font-size: 2rem;
    }

    
    .hollywood span {
        font-size: 3rem;
    }
    
}


@media screen and (max-width:600px) {
    .hollywood {
        height: 100vh;
      }

      .hollywood .hollywood-content {
        width: 100%;
    }

}