.section3 {
    width: 100%;
    height: auto;
    position: relative;
    padding: 2rem 0;
    margin: auto;
  }
  

  .section3-content {
    padding: 1rem;
  }

  .section3-header h1 {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bacasime Antique', serif;
  }


.section3-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.section3-flexItem {
    width: 250px;
    height: auto;
}

.section3-flexItem-img {
    position: relative;
}

.section3-flexItem-caption h1 {
    position: absolute;
    color: white;
    bottom: 5%;
    background-color: rgba(0, 0, 0, 0.404);
}

.section3-flexItem img {
    width: 100%;
    border-radius: .5rem;
}

.section3-flexItem h1 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem;
}

.section3-flexItem {
    text-align: center;
}

.section3-btn {
    text-align: center;
}
.section3-btn button {
    background-color: #7CB9E8;
    color: white;
    border: none;
    font-weight: 500;
    width:max-content;
    padding: .5rem 1.5rem;

}

.section3-flexItem button:hover {
    background-color: #5b8fb6;
    border: none;
}



@media  screen and (max-width: 700px) {
    
    .section3-flexItem {
        width: 80%;
    }

    
}



